**/*.out
**/*.xtc
**/*.gro
**/*.trr
**/*.pdb
**/*.err
**/*.tpr
**/*.ndx
**/*.cpt
**/*.log
**/*.edr
**/*conf2.log
**/*conf3.log
**/meta
**/logs
**/*.pkl
**/status.csv
**/batch.info
**/*.xvg
**/*.xpm
**/*.npz
test/self-assembly/Test-1
test/self-assembly/Test-2
test/self-assembly/Test-3
test/self-assembly/Test-4
test/self-assembly/self_assembly*
\#*
template.md
spikes/*.md
!spikes/spike-*.md


